@use "../global/variables" as *;

.bottomNav {
  opacity: 0;
  display: flex;
  position: absolute;
  z-index: 7;
  gap: 0.5rem;
  right: 1rem;
  bottom: 1rem;
  font-size: 1.3rem;
  color: $slate-700;

  &-before,
  &-after {
    cursor: pointer;
    transition: color 0.4s;
    &:hover {
      color: var(--fontColor);
    }
  }

  &-before {
    transform: rotate(20deg);
  }

  &-after {
    transform: rotate(20deg);
  }
}

.bottomLink {
  &-wrap {
    opacity: 1;
    display: flex;
    position: absolute;
    z-index: 7;
    gap: 1rem;
    left: 1rem;
    bottom: 1rem;
    font-size: 1.3rem;
    color: $slate-700;

    a {
      color: $slate-700;
      text-decoration: none;
      cursor: pointer;
      transition: color 0.4s;

      &:hover {
        color: $slate-500;
      }
    }
  }
}
