$width: min(3vw, 3vh);

.hidden {
  display: none;
}

.loading {
  display: grid;
  grid-template-columns: repeat(8, $width);
  gap: 0.3rem;

  &-wrap {
    color: white;
    background-color: #e7e0d8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    z-index: 9999;
    font-family: sans-serif;
    display: grid;
    place-items: center;
    transition: opacity 1s;
  }
}

.rect {
  display: border-box;
  width: $width;
  height: $width;
  display: block;
  outline: #fea9cb 2px solid;
  border-radius: 0.3rem;
  position: relative;
}
