@use "../global" as *;

.page-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #fff;
}

.page-image {
  display: flex;
  width: 40vw;
  height: 40vw;
  min-width: 400px;
  min-height: 400px;

  &-wrap {
    transform: translateY(150px);
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;

    @include sp {
      transform: translateY(0);
    }
  }
}

.page-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300vh;
  z-index: 6;
  overflow-x: hidden;
}

.back {
  &-wrap {
    padding-top: 1rem;
    position: relative;
    width: 100%;
    left: 5%;
  }
}

.page-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-main {
    font-size: 5rem;
    margin-right: 5rem;
    opacity: 0;

    @include sp {
      font-size: 3rem;
    }
  }
  &-sub {
    font-size: 3rem;
    margin-left: 5rem;
    opacity: 0;
    @include sp {
      font-size: 2rem;
    }
  }
}
